{
    "presets": [
        "env",
        "react",
        "stage-0"
    ],
    "plugins": [
        "tansfrom-runtime",
        "transform-decorators-legacy"
    ],
    "env": {
        "production": {
            "plugins": [
                "transform-remove-console"
            ]
        }
    }
}